.pagination-container button {
  background: var(--strong-yellow);
  color: rgba(227, 161, 150, 0.855);
  padding: 0.3em 0.7em;
  font-size: 15px;
  font-weight: bold;
  border: 3px solid rgba(215, 201, 123, 0.855);
  border-radius: 0.5em;
  box-shadow: 0.1em 0.1em;
  text-decoration: none;
}
